* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #111;
    display: block;
    margin: 0 auto;
}
.center{
    text-align: center;
}
.brown{
    background-color: #b87333;
}
.green{
    background-color: #00cc00;
}
.red{
    background-color: red;
}
.purple{
    color:purple
}